<!DOCTYPE html>
<html lang="en">
<div th:insert="~{fragments/PageFrame :: head('Update Post')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section text-center">
<h2 th:text="#{edit.comment.label}">Edit Comment</h2>
<form  class="form-tags" action="#" th:action="@{__${requestURI}__}" th:object="${commentDto}" method="post">
    <textarea class="textarea-title textarea-style" type="text" th:field="*{comment}"></textarea>
    <br/>
    <label class="error" th:errors="*{comment}">Content error placeholder</label>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</section>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>

</body>
<div th:replace="~{/fragments/PageFrame :: footer}"></div>

</html>