<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Forum Home')}"></div>
<body>
<!--NavBar Section-->
<div th:insert="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section">
<div class="container">
<!--    Navigation-->
    <div class="navigate" th:if="${mostCommentedPosts.isEmpty()}">
        <h2 th:text="#{post.most.commented.empty}">No Commented Posts</h2>
    </div>
    <div class="navigate" th:unless="${mostCommentedPosts.isEmpty()}" >
        <h2 class="ml4" th:text="#{post.most.commented.header}"></h2>
<!--    Display posts table-->
        <div class="table1">
        <div class="table-head">
            <div class="table-header-cell">Title</div>
            <div class="table-header-cell">Comments Count</div>
            <div class="table-header-cell">Last Comment</div>
        </div>
    <!--starts here-->
        <div class="table-row" th:each="post : ${mostCommentedPosts}">
            <div class="cell">
                <span class="cell-linebreak">
<!--                    <a href="#" th:href="@{/posts/__${post.id}__}"></a>-->
                Kvo sta aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </span>
                <br>
            </div>
            <div class="cell">
                <span th:number="${post.getPostComments().size()}"></span> <!-- Add comments count -->
            </div>

            <div class="cell">
                <span class="cell-linebreak"></span> <!-- Add info for last comments - Date and user -->
            </div>
        </div>
        </div>
        <!--ends here-->
    </div>
    <!--Navigation-->
    <div class="navigate" th:if="${mostRecentPosts.isEmpty()}">
        <h2 th:text="#{post.most.recent.empty}">No Recent Posts</h2>
    </div>
    <div class="navigate" th:unless="${mostRecentPosts.isEmpty()}" >
        <h2 class="ml8" th:text="#{post.most.recent.header}"></h2>
    <!--Display posts table-->
    <div class="table2">
        <div class="table-head">
            <div class="table-header-cell">Title</div>
            <div class="table-header-cell">Details</div>
            <div class="table-header-cell">Creation Date</div>
        </div>
        <!--starts here-->
        <div class="table-row" th:each="post : ${mostRecentPosts}">
            <div class="cell">
                <span class="linebreak" th:text="${post.getTitle()}">
<!--                    <a href="#" th:href="@{/posts/__${post.id}__}"></a>-->
                </span>
                <br>
            </div>
            <div class="cell">
                <span></span> <!-- Add comments count -->
                <span th:text="#{post.label.createdBy} +' '+${post.getCreatedBy().getUsername()}">
<!--                    <a href="#" th:href="@{/users/__${user.id}__}"></a>-->
                </span>
            </div>

            <div class="cell">
                <span></span> <!-- Add creation date -->
            </div>
        </div>
    </div>
    <!--ends here-->
</div>
</div>
</section>
<!-- Footer-->
<footer class="footer text-center">
    <div class="footer-container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    2215 John Daniel Drive
                    <br />
                    Clark, MO 65243
                </p>
            </div>
            <!-- Footer Copyright Text-->
            <div class="col-lg-4 mt-1">
                <p class="text-uppercase mb-4" th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' Forum Team 7'}">Forum</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
        </div>
    </div>
</footer>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
</body>
</html>