<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="icon" href="/logo.png" type="image/png">
</head>
<style>
    body {
        background-image: url('/images/home_background.jpg');
    }
</style>
<body>

<div class="body-content">
    <h2 th:text="#{home.welcome}">Welcome!</h2>
</div>
<div class="table">
        <div class="header" th:text="#{post.header.name}"></div>

        <div th:each="post:${mostCommentedPosts}">
            <a href="#" th:href="@{https://www.youtube.com/watch?v=33EwEFfjXMQ&ab_channel=Release-Topic}" th:text="${post.getTitle()}">PostTitle</a>
        </div>
</div>
</body>
</html>