<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Update Post')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section text-center">
        <form th:replace="~{fragments/PostForm :: details('Edit Post')}"></form>
        <h2 th:text="#{add.tag.label}">Add Tag</h2>
        <form class="form-tags" action="#" th:action="@{__${requestURI}__/addTags}" th:object="${tag}" method="post">
                <textarea class="textarea-tags" placeholder="Add tag here..." type="text" th:field="*{tagName}"></textarea>
                <br/>
                <input class="py-3-create rounded" type="submit" value="Add"/>
        </form>
</section>

<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>

</html>