<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('All posts')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section">
    <header class="navigate">
        <!-- Masthead Heading-->
        <h1 class="text-uppercase mb-0" th:if="${posts.isEmpty()}" th:text="#{posts.title.empty}">No
            Posts</h1>
        <h1 class="text-uppercase mb-0" th:unless="${posts.isEmpty()}" th:text="#{all.posts}">All
            Posts</h1>
    </header>
</section>
<!-- Section 2-->
<section class="py-5">
    <div class="navigate">
        <form action="#" th:action="@{/posts}" method="get" th:object="${postFilterOptions}">
            <h3 th:text="#{posts.filter.label}">Filter Options</h3>
            <br/><br/>
            <div>
                <input type="text" placeholder="Post title" th:field="*{title}"/>
                <input type="text" th:field="*{keyword}" placeholder="Keyword"/>
                <input type="text" th:field="*{tagName}" placeholder="Tags"/>
                <input th:field="*{createdBy}" placeholder="Creator username"/>
                <select th:field="*{sortBy}">
                    <option value="">Sort By</option>
                    <option value="title">Title</option>
                    <option value="createdBy">Creator</option>
                </select>
                <select th:field="*{sortOrder}">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
            <br/><br/>

            <input class="py-3-create rounded" type="submit" value="Search"/>
        </form>
    </div>
    <div class="table text-center">
        <div class="table-head">
            <div class="table-header-cell">Title</div>
            <div class="table-header-cell">Created By</div>
            <div class="table-header-cell">Creation Date</div>
            <div class="table-header-cell">Number of comments</div>
        </div>
        <div class="table-row" th:each="post : ${posts}">
            <!-- Post details-->
            <div class="cell">
                    <a href="#" th:href="@{/posts/__${post.postId}__}">
                        <span class="cell-linebreak" th:text="${post.getTitle()}"></span></a>
                    <br>
            </div>
        <div class="cell">
                <a href="#" th:href="@{/user/__${post.getCreatedBy().getId()}__}">
                    <span class="cell-linebreak" th:text="${post.getCreatedBy().getUsername()}"></span></a>
                <br>
        </div>
            <div class="cell">
                        <span class="cell-linebreak" th:text="${post.getDateAndTimeOfCreation()}"></span>
                    <br>
            </div>
            <div class="cell">
                   <span class="cell-linebreak" th:text="${post.getPostComments().size()}"></span>
                <br>
            </div>
    </div>
    </div>
</section>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>

</html>