<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{fragments/PageFrame :: head('All posts')}"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="multi-container pd-10">
    <div class="navigate">
        <!-- Masthead Heading-->
        <h3 class="text-uppercase mb-0" th:text="${post.title}"/>
    <div class="post-container">
        <div class="user-profile-container" th:icon="${post.createdBy.username}">
            <img src="C:\\Users\\aleks\\Desktop\\Forum\\profile_photos\\MicrosoftTeams-image - Копие.png" alt="User image"/>/>
        </div>
        <div class="post-content-container"></div>
        <div class="post-content-linebreak" th:text="${post.content}"></div>
    </div>

        <div class="reaction-container">
            <h2>
                <a href="#" th:href="@{__${requestURI}__/update}"
                class="edit-button">Edit
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </h2>
        <h2>
            <a th:unless="${isUpVoted}"
                    th:href="@{__${requestURI}__/upvote}"
                    class="upvote-light">
                <i class="fa-regular fa-thumbs-up"></i>
            </a>
            <a th:if="${isUpVoted}"
                    th:href="@{__${requestURI}__/upvote}"
                    class="upvote-full">
                <i class="fa-solid fa-thumbs-up"></i>
            </a>
        </h2>
            <div class="upvote-counter" th:text="${upVoteCounter}"></div>

        </div>
    </div>


    <div class="navigate">
        <!-- Masthead Heading-->
        <h3 class="text-uppercase mb-0">Details</h3>
    <div class="post-details-container ml8">
        <p th:text="'Creation Date : ' + ${post.dateAndTimeOfCreation}"></p>
        <p th:text="'Comments count : '+ ${post.postComments.size()}"></p>
        <div class="tag-container">
            <h4><span th:text="#{tags.label}"></span>&nbsp;&nbsp;&nbsp;</h4>
            <div th:each="tag,iterStat : ${tags}">
                <a th:href="@{/posts?title=&keyword=&tagName=__${tag.name}__&createdBy=&sortBy=&sortOrder=}" th:text="${tag.name}"></a>
                <span th:if="${!iterStat.last}">&nbsp;</span>
            </div>
        </div>
    </div>

    </div>

</section>

<div class="comment-area">
    <div class="comments-container">
        <div class="body" th:each="comment : ${comments}">
            <div class="authors">
                <div class="username">
                    <a th:href="@{/user/{userId}(userId=${comment.getCreatedBy().getId()})}" th:text="${comment.getCreatedBy().getUsername()}">AnotherUser</a>

                </div>
                <div th:if="${comment.getCreatedBy().isAdmin()}"
                     th:text="Admin">Role</div>
                <div th:unless="${comment.getCreatedBy().isAdmin()}"
                     th:text="User">Role</div>
                <img src="https://i1.sndcdn.com/artworks-000006019579-vhwl3q-t240x240.jpg" alt="">
            </div>
            <dirv class="content" th:text="${comment.getComment()}">
            </dirv>
            <div class="comment">
                <a  th:if="${comment.getCreatedBy().getUsername() == loggedInUser.getUsername()}" href="#" th:href="@{__${requestURI}__/{commentId}/update(commentId=${comment.commentId})}" >Edit </a>
                <a  th:if="${comment.getCreatedBy().getUsername() == loggedInUser.getUsername() || loggedInUser.isAdmin()}" href="#" th:href="@{__${requestURI}__/{commentId}/deleteComment(commentId=${comment.commentId})}" >Delete</a>
            </div>
        </div>
    </div>
    <!--Reply Area-->

    <form class="comment-area hide" action="#" th:action="@{__${requestURI}__/newComment}" th:object="${comment}" method="post">
        <textarea type="text" th:field="*{comment}" name="comment" placeholder="Comment here ... "></textarea>
        <input type="submit" value="comment">
    </form>
    <div  th:if="${validationError}">
        <div class="error" th:text="${validationError}">Comment error placeholder</div>
    </div>

</div>

<script src="https://kit.fontawesome.com/03129db14f.js" crossorigin="anonymous"></script>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>

</html>