<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('User')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>

<aside>
  <h2 th:text="${user.username}"></h2>
  <h3 th:text="${user.firstName}"></h3>
  <h3 th:text="${user.lastName}"></h3>
  <h3 th:text="${user.email}"></h3>
</aside>

<section class="center flex-box">
  <div>Get user posts</div>

  <div>Get user comments</div>
</section>

<footer th:replace="~{/fragments/PageFrame :: footer}"></footer>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
</body>
</html>