<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('User')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<div class="user-block">
  <div class="user-leftside">
    <br/>
    <div th:if="${user.hasProfilePicture()}">
      <img class="user-photo" th:src="${user.getUserProfilePicture().profilePhoto}" alt="Picture"/>
    </div>
    <div th:unless="${user.hasProfilePicture()}">
      <img class="user-photo"
           src="https://w0.peakpx.com/wallpaper/979/89
      /HD-wallpaper-purple-smile-design-eye-smily-profile-pic-face-thumbnail.jpg" alt="Picture"/>
    </div>
    <br/>
    <div class="user-info">
      <a href="#" th:href="@{/user/__${user.getId()}__}">
        <h2 class="center" th:text="${user.username}"></h2></a>
      <hr>
      <h3 class="center" th:text="${user.firstName}"></h3>
      <hr>
      <h3 class="center" th:text="${user.lastName}"></h3>
      <hr>
      <h3 class="center" th:text="${user.email}"></h3>
      <br/>
    </div>
  </div>
  <div class="user-rightside">

    <!--   User getPost and getComment methods-->
    <div class="methods-body-content">
      <a href="#" th:href="@{/user/__${user.getId()}__/posts}">
        <div class="user-button">Get user posts</div></a>
      <div>    </div>
      <a href="#" th:href="@{/user/__${user.getId()}__/comments}">
        <div class="user-button">Get user comments</div></a>
    </div>

    <!--    Show User most recent posts-->

    <div class="navigate" th:unless="${user.getUserPosts().isEmpty()}" >
      <br/>
      <h2 th:text="${'All '+user.username+' posts'}"></h2>
      <br/>
      <div class="navigate">
        <form action="#" th:action="@{/user/__${user.getId()}__/posts}" method="get" th:object="${userPostsFilterOption}">
          <h3 th:text="#{posts.filter.label}">Filter Options</h3>
          <br/>
          <div>
            <input type="text" placeholder="Title" th:field="*{title}"/>
            <input type="text" placeholder="Content" th:field="*{content}"/>
            <select th:field="*{sortOrder}">
              <option value="">Sort Order</option>
              <option value="asc">Oldest</option>
              <option value="desc">Newest</option>
            </select>
          </div>
          <br/>
          <input class="py-3 rounded" type="submit" value="Search"/>
          <br/>
        </form>
        <br/>
      <!--    Display posts table-->
      <div class="table1 center">
        <div class="table-head">
          <div class="table-header-cell outline">Title</div>
          <div class="table-header-cell outline">Number of comments</div>
          <div class="table-header-cell outline" >Posting date</div>
        </div>
        <!--starts here-->
        <div class="table-row outline break-word" th:each="post : ${posts}">
          <div class="cell">
            <a href="#" th:href="@{/posts/__${post.getPostId()}__}">
              <span class="linebreak break-word" th:text="${post.getTitle()}"></span></a>
            <br>
          </div>
          <div class="cell">
            <span class="linebreak" th:text="${post.getPostComments().size()}"></span>
          </div>

          <div class="cell">
            <span class="linebreak" th:text="${post.getDateAndTimeOfCreation()}"></span> <!-- Add info for comment - Date -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>

</body>

</html>